# Server
PORT=5000
NODE_ENV=production

# MongoDB (e.g. MongoDB Atlas)
MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/DATABASE?retryWrites=true&w=majority

# JWT
JWT_SECRET=your-secret-key-min-32-chars

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-2
AWS_S3_BUCKET_NAME=

# OpenAI
OPENAI_API_KEY=

# Frontend URL (for CORS)
FRONTEND_URL=https://app.snapfix.site
GOOGLE_MAPS_API_KEY=
LOCAL_QR_URL=
